<ion-header>
<ion-toolbar>
  <ion-buttons slot="start">
   <!--  <ion-button (click)="toogleMenu()">
    <ion-icon slot="icon-only" name="menu"></ion-icon>
  </ion-button> -->

  <ion-menu-button menu="principal" color="primary"></ion-menu-button>
  <ion-title>Início</ion-title>
  </ion-buttons>
</ion-toolbar>
</ion-header>


<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of componentes" [routerLink]="item.link" detail>
      <ion-icon [name]=item.icone slot="start"></ion-icon>
      <ion-label >{{item.nome}}</ion-label>
    </ion-item>
  </ion-list>

  <ion-button color="secondary" expand="full" routerLink="/alert">Alert</ion-button>
  <ion-button color="danger" expand="block"  routerLink="/action-sheet">Modal</ion-button>
  <ion-button color="danger" shape="round" fill="outline" >
    Round + Out Line
    <ion-icon slot="icon-only" name="star"></ion-icon>
  </ion-button>
</ion-content>
